In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s5e11/sample_submission.csv
/kaggle/input/playground-series-s5e11/train.csv
/kaggle/input/playground-series-s5e11/test.csv

In [2]:
import pandas as pd

In [3]:
test = pd.read_csv('/kaggle/input/playground-series-s5e11/test.csv')
train = pd.read_csv('/kaggle/input/playground-series-s5e11/train.csv')

In [4]:
train.head(10)

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0
5,5,44940.30,0.058,653,12159.92,12.24,Male,Single,Bachelor's,Employed,Other,D1,1.0
6,6,61574.16,0.042,696,16907.71,13.52,Other,Single,High School,Self-employed,Debt consolidation,C5,1.0
7,7,45953.31,0.100,654,10111.62,12.82,Female,Married,High School,Employed,Home,D1,1.0
8,8,30592.29,0.132,713,7522.36,9.48,Male,Married,Bachelor's,Employed,Education,C5,1.0
9,9,17342.45,0.121,548,9653.48,16.04,Female,Married,Bachelor's,Self-employed,Vacation,F1,1.0

In [5]:
train.isnull().sum()

id                      0
annual_income           0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
interest_rate           0
gender                  0
marital_status          0
education_level         0
employment_status       0
loan_purpose            0
grade_subgrade          0
loan_paid_back          0
dtype: int64

In [6]:
train.duplicated().sum()

0

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [9]:
X = train[['annual_income','debt_to_income_ratio','credit_score','loan_amount','interest_rate','gender','marital_status','education_level','employment_status','loan_purpose','grade_subgrade']]
y = train[['loan_paid_back']]

In [10]:
print(X)

        annual_income  debt_to_income_ratio  credit_score  loan_amount  \
0            29367.99                 0.084           736      2528.42
1            22108.02                 0.166           636      4593.10
2            49566.20                 0.097           694     17005.15
3            46858.25                 0.065           533      4682.48
4            25496.70                 0.053           665     12184.43
...               ...                   ...           ...          ...
593989       23004.26                 0.152           703     20958.37
593990       35289.43                 0.105           559      3257.24
593991       47112.64                 0.072           675       929.27
593992       76748.44                 0.067           740     16290.40
593993       48959.52                 0.096           752      7707.73

        interest_rate  gender marital_status education_level  \
0               13.67  Female         Single     High School
1               12.92    Male        Married        Master's
2                9.76    Male         Single     High School
3               16.10  Female         Single     High School
4               10.21    Male        Married     High School
...               ...     ...            ...             ...
593989          10.92  Female         Single     High School
593990          14.62    Male         Single      Bachelor's
593991          14.13  Female        Married      Bachelor's
593992           9.87    Male         Single      Bachelor's
593993          10.31    Male        Married     High School

       employment_status        loan_purpose grade_subgrade
0          Self-employed               Other             C3
1               Employed  Debt consolidation             D3
2               Employed  Debt consolidation             C5
3               Employed  Debt consolidation             F1
4               Employed               Other             D1
...                  ...                 ...            ...
593989          Employed            Business             C3
593990          Employed  Debt consolidation             F5
593991          Employed  Debt consolidation             C1
593992          Employed  Debt consolidation             B2
593993          Employed           Education             B3

[593994 rows x 11 columns]

In [11]:
categorical_cols = ['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose', 'grade_subgrade']
X = pd.get_dummies(X, columns=categorical_cols, drop_first=True)
display(X.head())

,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender_Male,gender_Other,marital_status_Married,marital_status_Single,marital_status_Widowed,...,grade_subgrade_E1,grade_subgrade_E2,grade_subgrade_E3,grade_subgrade_E4,grade_subgrade_E5,grade_subgrade_F1,grade_subgrade_F2,grade_subgrade_F3,grade_subgrade_F4,grade_subgrade_F5
0,29367.99,0.084,736,2528.42,13.67,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,22108.02,0.166,636,4593.10,12.92,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,49566.20,0.097,694,17005.15,9.76,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,46858.25,0.065,533,4682.48,16.10,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
4,25496.70,0.053,665,12184.43,10.21,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [40]:
model = RandomForestClassifier(n_estimators=160,random_state=42)

In [41]:
model.fit(X,y.values.ravel())

RandomForestClassifier(n_estimators=160, random_state=42)

In [14]:
test.head(10)

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,High School,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,Master's,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,Bachelor's,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,Bachelor's,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,PhD,Employed,Business,C1
5,593999,45302.90,0.060,675,8106.78,13.74,Female,Married,High School,Employed,Vacation,C3
6,594000,27676.47,0.061,714,8242.26,13.87,Female,Single,High School,Employed,Debt consolidation,C4
7,594001,38216.91,0.095,719,3765.50,15.10,Male,Single,High School,Employed,Other,C5
8,594002,25650.59,0.101,664,20310.64,11.74,Male,Single,High School,Employed,Education,D4
9,594003,62497.03,0.207,651,5177.58,13.90,Female,Divorced,High School,Unemployed,Car,D2

In [15]:
X_test = test[['annual_income','debt_to_income_ratio','credit_score','loan_amount','interest_rate','gender','marital_status','education_level','employment_status','loan_purpose','grade_subgrade']]

In [16]:
categorical_cols = ['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose', 'grade_subgrade']
X_test = pd.get_dummies(X_test, columns=categorical_cols, drop_first=True)
display(X_test.head())

,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender_Male,gender_Other,marital_status_Married,marital_status_Single,marital_status_Widowed,...,grade_subgrade_E1,grade_subgrade_E2,grade_subgrade_E3,grade_subgrade_E4,grade_subgrade_E5,grade_subgrade_F1,grade_subgrade_F2,grade_subgrade_F3,grade_subgrade_F4,grade_subgrade_F5
0,28781.05,0.049,626,11461.42,14.73,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,46626.39,0.093,732,15492.25,12.85,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,54954.89,0.367,611,3796.41,13.29,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,25644.63,0.110,671,6574.30,9.57,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,25169.64,0.081,688,17696.89,12.80,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [42]:
prediction = model.predict(X_test)

In [18]:
prediction.shape

(254569,)

In [30]:
print(prediction)

[1. 1. 0. ... 1. 1. 1.]

In [43]:
probabilities = model.predict_proba(X_test)

In [44]:
print(probabilities[:,1])

[0.9625  0.9875  0.3875  ... 0.98125 0.99375 0.8125 ]

In [22]:
ID = test[['id']]

In [23]:
print(ID)

            id
0       593994
1       593995
2       593996
3       593997
4       593998
...        ...
254564  848558
254565  848559
254566  848560
254567  848561
254568  848562

[254569 rows x 1 columns]

In [45]:
result = pd.DataFrame({'id':ID.values.flatten(),'Prediction':probabilities[:,1]})

In [38]:
print(result)

            id  Prediction
0       593994        0.96
1       593995        0.99
2       593996        0.33
3       593997        0.99
4       593998        0.98
...        ...         ...
254564  848558        0.99
254565  848559        0.82
254566  848560        0.99
254567  848561        1.00
254568  848562        0.81

[254569 rows x 2 columns]

In [39]:
result.to_csv('prediction.csv',index=False)